* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #3A3A3A;
}
.btn {
    background-color: #E02C6D;
    border-radius: 50px;
    padding: 10px 30px;
    color: #fff;
    border: none;
    font-size: 1rem;
    margin-top: 20px;
}
/* header section start*/
header {
    max-width: 80%;
    margin: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 80px 0px 50px 0px;
}

.header-container>.menu-bar {
    display: flex;
    justify-content: space-between;
}

.menu-bar>li {
    list-style: none;
    margin-left: 20px;
    font-size: 1.2rem;
}

/* banner */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.banner-content {
    width: 50%;
}

.banner-title {
    font-size: 3.25rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner-description {
    font-weight: 600;
}

.banner-img {
    /* width: auto; */
}

.banner-img .camera-pic {
    background-image: url("../images/Circle\ design.svg");
    background-size: cover;

}

/* header section end */

/* main section starts */
main {
    max-width: 75%;
    margin: auto;
}

/* sponsors section start */
.sponsors {
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.sponsors img {
    padding: 10px;
}

/* sponsors section ends */

/* products section starts */
.products-containers {
    text-align: center;
    margin: 130px 0px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.products-heading {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 30px;
}

.cards {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}
.card-title {
    padding-top: 10px;
    color: #18191F;
    font-size: 1.75rem;
    font-weight: 500;
}

.price {
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-weight: 400;
}

.card-description {
    padding-top: 10px;
    color: #787885;
    font-size: 14px;
    font-weight: 700;
}

.detail{
    margin-top: 30px;
    text-align: end;
}
.detail h6{
    color: #E02C6D ;
    font-size: 1.2rem;
    font-weight: 500;
}
/* products section ends */

/*  */
.featured-products-container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    gap: 50px;
    margin: 130px 0px;
}
.feature-title{
    font-size: 1.75rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.feature-description{
    font-size: 1.25rem;
    width: 75%;
}
/*  */


/* main section ends */



/* medium device */
@media screen and (max-width: 922px) and (min-width: 577px) {
    .header-container {
        flex-direction: column;
        gap: 50px;
    }

    .header-container {
        align-items: center;
    }

    .sponsors {
        flex-wrap: wrap;
    }
    .products{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* small device */
@media screen and (max-width: 576px) {

    .header-container,
    .banner {
        flex-direction: column;
        gap: 50px;
    }

    .sponsors {
        flex-wrap: wrap;
    }

    .banner-content {
        width: 100%;
    }
    .products{
        grid-template-columns: repeat(1, 1fr);
    }
}